.tag_count_1 {
  font-size: 20px;
  color: rgba(0, 130, 135, 0.4); }

.tag_count_2 {
  font-size: 20.8px;
  color: rgba(0, 130, 135, 0.415); }

.tag_count_3 {
  font-size: 21.6px;
  color: rgba(0, 130, 135, 0.43); }

.tag_count_4 {
  font-size: 22.4px;
  color: rgba(0, 130, 135, 0.445); }

.tag_count_5 {
  font-size: 23.2px;
  color: rgba(0, 130, 135, 0.46); }

.tag_count_6 {
  font-size: 24px;
  color: rgba(0, 130, 135, 0.475); }

.tag_count_7 {
  font-size: 24.8px;
  color: rgba(0, 130, 135, 0.49); }

.tag_count_8 {
  font-size: 25.6px;
  color: rgba(0, 130, 135, 0.505); }

.tag_count_9 {
  font-size: 26.4px;
  color: rgba(0, 130, 135, 0.52); }

.tag_count_10 {
  font-size: 27.2px;
  color: rgba(0, 130, 135, 0.535); }

.tag_count_11 {
  font-size: 28px;
  color: rgba(0, 130, 135, 0.55); }

.tag_count_12 {
  font-size: 28.8px;
  color: rgba(0, 130, 135, 0.565); }

.tag_count_13 {
  font-size: 29.6px;
  color: rgba(0, 130, 135, 0.58); }

.tag_count_14 {
  font-size: 30.4px;
  color: rgba(0, 130, 135, 0.595); }

.tag_count_15 {
  font-size: 31.2px;
  color: rgba(0, 130, 135, 0.61); }

.tag_count_16 {
  font-size: 32px;
  color: rgba(0, 130, 135, 0.625); }

.tag_count_17 {
  font-size: 32.8px;
  color: rgba(0, 130, 135, 0.64); }

.tag_count_18 {
  font-size: 33.6px;
  color: rgba(0, 130, 135, 0.655); }

.tag_count_19 {
  font-size: 34.4px;
  color: rgba(0, 130, 135, 0.67); }

.tag_count_20 {
  font-size: 35.2px;
  color: rgba(0, 130, 135, 0.685); }

.tag_count_21 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_22 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_23 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_24 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_25 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_26 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_27 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_28 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_29 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_30 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_31 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_32 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_33 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_34 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_35 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_36 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_37 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_38 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_39 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_40 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_41 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_42 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_43 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_44 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_45 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_46 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_47 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_48 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_49 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_50 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_51 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_52 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_53 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_54 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_55 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_56 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_57 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_58 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_59 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_60 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_61 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_62 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_63 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_64 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_65 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_66 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_67 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_68 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_69 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_70 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_71 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_72 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_73 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_74 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_75 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_76 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_77 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_78 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_79 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_80 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_81 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_82 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_83 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_84 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_85 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_86 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_87 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_88 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_89 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_90 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_91 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_92 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_93 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_94 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_95 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_96 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_97 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_98 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_99 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }

.tag_count_100 {
  font-size: 36px;
  color: rgba(0, 130, 135, 0.7); }
